.app {
  min-height: 100vh;
}

.container {
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  /* gap: 30px; */
}

.app-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 8px;
}

.app-subtitle {
  text-align: center;
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 32px;
}